<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>homepage</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <!-- <style>
      h1 {
        color: red;
      }
    </style> -->
  </head>
  <body>
    <span class="Nav">
      <a class="Navlink_1" href="#">FOR INDIVIDUALS</a>
      <a class="Navlink_2" href="#">FOR BUSINESSES</a>
    </span>
    <span class="face">
      <h1 class="grey">Grey</h1>
      <a class="linkproduct" href="#">product</a>
      <a class="linkblog" href="#">Blog</a>
      <a class="linkcenter" href="#">Help Center</a>
      <button class="loginbtn">Login</button>
      <button class="getstartedbtn">Get started-for free</button>
      <h1 class="text">Easily and quickly<br> transfer money to<br> anyone </h1>
      <p class="decs">Send money online from Africa to the UK and other European<br> countries with ease.</p>
      <a href=""><img class="pstore" src="/gplay.png" alt="google_play_img"></a>
      <a href=""><img class="astore"  src="/astore.png"  alt="apple_store_img"></a>
      </span>
    <span class="next_face">
      <h2 class="send">Send and receive money easily from <br> anywhere in the world</h2>
      <h4 class="fast">Fast, Secure, Reliable</h4>
      <p class="enjoy">Enjoy a seamless experience by sending money across borders<br> or to home dorm accounts through Grey.</p>
      <h4 class="trans">Transparent and Easy to Track</h4>
      <p class="follow">Follow your money across the world from your devices. No<br> hidden fees. No complicated processes.</p>
      <h4 class="tbest">The best way to send money to family &<br> friends</h4>
      <p class="with">With Grey foreign accounts, your loved ones can receive money<br> from abroad easily and securely.</p>
    </span>
    <span class="third_face">
      <h2 class="send begin">Begin to enjoy borderless<br> financial freedom</h2>
     <h3 class="open">Opening an account has never been this seamless.</h3>
    <div class="three">
      <div>
        <span class="circle"><h1>1</h1></span>
        <p><strong>Register in minutes</strong><br>
          Sign up online, or in our app with<br> your email address</p>
      </div>
    <div>
      <span class="circle"><h1>2</h1></span>
      <p><strong>Complete KYC verification</strong><br>
        Verify your identity using your<br> government-issued ID</p>
    </div>
      <div>
        <span class="circle"><h1>3</h1></span>
        <p><strong>Get your virtual account</strong><br>
          Share your account details to get<br> paid, or spend around the world<br> with your debit card.</p>
      </div>
    </div>
    <button class="gstarted">Get Started</button>
  
    </span>
  >
 
 

 </body>
</html>
